extends layout 

block content
    div
        each i in subCategory
            div.row
                div.column
                    .row
                        h3= i.name

                    .row
                        .column
                            a(href='/products/product_id/' + i.id)
                                img.image-fixed(src='/static/images/' + i.image_groups[0].images[0].link)

                        .column
                            p= i.long_description
                            .row.bottom
                                .cloumn
                                    .row
                                        p Price:
                                        p= i.price
                                        p .00  
                                        h5=i.currency
                                .column
                                    a(href='/products/product_id/' + i.id)
                                        button.btn(type='submit' name='product_id') More Info


                div.column
                    .row
                        h3= i.name

                    .row
                        .column
                            a(href='/products/product_id/' + i.id)
                                img.image-fixed(src='/static/images/' + i.image_groups[0].images[0].link)

                        .column
                            p= i.long_description
                            .row
                                .cloumn
                                    .row
                                        p Price:
                                        p= i.price
                                        p .00  
                                        h5=i.currency
                                .column
                                    a(href='/products/product_id/' + i.id)
                                        button.btn(type='submit' name='product_id') More Info

//- extends layout 

//- block content
//-     div
//-         - for (var index = 0; index<subCategory.length; index++)
//-             div.row
//-                     div.column
//-                         .row
//-                             h3= subCategory[index].name

//-                         .row
//-                             .column
//-                                 a(href='/products/product_id/' + subCategory[index].id)
//-                                     img.image-fixed(src='/static/images/' + subCategory[index].image_groups[0].images[0].link)

//-                             .column
//-                                 p= subCategory[index].long_description
//-                                 .row.bottom
//-                                     .cloumn
//-                                         .row
//-                                             p Price:
//-                                             p= subCategory[index].price
//-                                             p .00  
//-                                             h5=subCategory[index].currency
//-                                     .column
//-                                         a(href='/products/product_id/' + subCategory[index].id)
//-                                             button.btn(type='submit' name='product_id') More Info
//-                 if index==0
//-                     div.column
//-                         .row
//-                             h3= subCategory[index].name

//-                         .row
//-                             .column
//-                                 a(href='/products/product_id/' + subCategory[index].id)
//-                                     img.image-fixed(src='/static/images/' + subCategory[index].image_groups[0].images[0].link)

//-                             .column
//-                                 p= subCategory[index].long_description
//-                                 .row
//-                                     .cloumn
//-                                         .row
//-                                             p Price:
//-                                             p= subCategory[index].price
//-                                             p .00  
//-                                             h5=subCategory[index].currency
//-                                     .column
//-                                         a(href='/products/product_id/' + subCategory[index].id)
//-                                             button.btn(type='submit' name='product_id') More Info
                    
