extends layout 

block content
  h1= title
  p #{dummy}
  p Welcome to #{dummy}
  p Welcome to #{dummy}
  p Welcome to #{dummy}
  p Welcome to #{dummy}

    //-   nav(aria-label='breadcrumb')
    //-     ol.breadcrumb
    //-         li.h6.breadcrumb-item
    //-             a(href='/') Home |
    //-         li.h6.breadcrumb-item
    //-             a(href='/') Home |
    //- .text-center
    //-     h1 Home Page
    //-     h3 Please choose a category
    //-       -if (username != "Visitor")
    //-         a(href='/order/cart')
    //-           input.btn.btn-primary(type='button' value='cart')
    //-         a(href='/auth/signout')
    //-           input.btn.btn-primary(type='button' value='signout')
    //-       -else
    //-         a(href='/auth/signin')
    //-           input.btn.btn-primary(type='button' value='signin')
    //-         a(href='/auth/signup')
    //-           input.btn.btn-primary(type='button' value='signup')