extends layout 

block content
  h1= title
  p Welcome to cart

   .subcategories
      ul(style='list-style-type:none')
      -if(status==200)
        br
        p cart is defined 
        each i in items
            h5= i.productId
            h5= i.quantity
            h5= i.variant.product_id
            //- li.h5= i.items[i].variant.quantity
            h5 Change Quantity
            form(action='/order/changequantity/'+i.productId + '/' + i.variant.product_id + '/wishlist', method='post')
                .form-group 
                    label Quantity: 
                        input.form-control(type='text', placeholder=i.quantity name='quantity')
                        button.btn.btn-primary(type='submit') Change
            a(href='/order/addtocart')
              button.btn.btn-primary(type='button' value='buy') Add to Cart
            a(href='/order/remove/wishlist/'+i.productId + '/' + i.variant.product_id)
              button.btn.btn-light(type='submit' name='product_id') Delete
            br
      -else
        p Please add at least one item in your cart